body{
  margin: 0;
  padding: 0;
  font-family: 'Signika', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(237, 237, 237);
  color: #000000;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p{
  margin: 0;
  padding: 0;
}

#homeDiv
{
  height: 80vh;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#homeIntroductionDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#homeIntroductionDiv h1{
  margin: 0;
  padding: 10px;
  font-size: 42px;
}
#homeIntroductionDiv p{
  font-size: 18px;
  padding: 10px;
  color: rgb(60, 60, 60);
}

#homeLogoDiv{
  margin: 50px;
}

#homeLogoDiv img{
  height: 300px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.45);
}